.deal-list-container {
  padding-left: 16px; /* 与封面图左边缘对齐 */
  padding-right: 16px;
}

.deal-list-item {
  width: 120px;
  margin-right: 12px;
  flex-shrink: 0;
}

.deal-list-item:last-child {
  margin-right: 0;
}

